button{
    font-size: 17px;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    border: none;
    margin-top: 20px;
    padding: 10px;
}

.videobackground{
    width: 100vw;
   height: 100vh;
   object-fit: cover;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   z-index: -1;
}

button:hover{
    opacity: .7;
}

button:active{
    opacity: .85;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    width: cover;
    height: 30px;
    margin: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.container{
     display: flex;
    justify-content: center;
}



