body{
    overflow: auto;
    font-family: Arial;
    background-color: lightgrey;
    color: black;
}

button{
    margin: 5px;
    font-size: 20px;
    border: none;
    color: black;
    background-color: white;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    border-radius: 10px;
    font-weight: bold;
}

.yes-button{
    background-color: white;
    border: green solid 2px;
    color: green;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;

    transition: color .5s, background-color .5s;
}

.yes-button:hover{
    color: white;
    background-color: green;
}

.no-button{
    background: white;
    color: red;
    border: red solid 2px;
    padding: 10px;
    font-size: 15px;
    cursor: pointer;

    transition: color .5s, background-color .5s;
}

.no-button:hover{
    color: white;
    background-color: red;
}


