button{
    font-size: 17px;
    border-radius: 3px;
    background-color: orange;
    color: black;
    border: none;
    margin-top: 20px;
    padding: 10px;
}

.videobackground{
    position: absolute;
    right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

button:hover{
    opacity: .7;
}

button:active{
    opacity: .85;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    width: cover;
    height: 30px;
    margin: -10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
}

.container{
     display: flex;
    justify-content: center;
}



