body{
    font-family: Tahoma, sans-serif;
    background-image: url("blueombre.png");
}

h1{
    color: black;
}

.login-box{
    margin-left: 10px;
    margin-top: 50px;
    justify-content: center;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px black;
    width: min-content;
    padding: 10px;
    
}

.login-box input{
    font-size: 15px;
    width: 370px;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
    background: whitesmoke;
    color: white;
    border-color: white;
    border-width: 3px;
    border-style: solid;
}

.login-box button{
    font-size: 20px;
    width: 400px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover{
    opacity: .7;
}

.login-box button:active{
    opacity: .5;
}
