button{
    margin: 5px;
    font-size: 20px;
    border: none;
    background: transparent;
    
}

body{
    overflow: auto;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

button:hover{
 opacity: .7;
}

button:active{
 opacity: .85;
}

