body{
    overflow: hidden;
    font-family: Arial;
    color: black;

     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    align: center;
}

.title_button{
    color: black;
    background: transparent;
    font-size: 40px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.login-box{
    
    margin-left: 20px;
    margin-top: 70px;
    justify-content: center;
    text-align: center;
    background-color: white;
    width: min-content;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.login-box input{
    width: 370px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 10px;
    background: white;
    color: black;
    border-width: 2px solid black;
 
}

input:focus{
    outline-style: none;
    box-shadow: none;
    outline: none;
}

.login-box button{
    font-size: 20px;
    width: 400px;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    
    border-width: 2px solid black;

    transition: background-color .5s;
}

.login-box button:hover{
    background-color: dodgerblue;
}
