button{
    margin: 5px;
    transform: rotate(0deg);
    font-size: 17px;
    background-color: white;
    font-family: Calibri, sans-serif;
    padding: 10px;
    border-width: 5px;
    border-radius: 10px;
    color: red;
    border-style: solid;
    border-color: red;
}

body{
    overflow: auto;
    font-family: Arial, sans-serif;
}

button:hover{
 opacity: .78;
}

button:active{
 opacity: .6;
}


.yt-link:hover{
    text-decoration: underline;
    text-color: red;
}
