button{
    font-size: 20px;
    border-radius: 15px;
    background-color: dodgerblue;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

button:hover{
    opacity: .7;
}

button:active{
    opacity: .85
}

body{
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}



